@charset "UTF-8";
h1{
    color: steelblue;
    /* vw = ビューウィズス　＝　画面サイズに応じた数字％の横幅 */
    /* clamp = サイズを最大値、理想値、最小値の順で指定できる */
    font-size: clamp(20px,5vw,60px);
}

img{
    /* 絶対値(pxなどの単位)で横幅を指定 */
    /* width: 300px; */
    /* 相対値(%)で横幅を指定 */
    max-width: 100%;
    height: auto;
}

html{
    font-size: 20px;
}

.text{
    font-size: clamp(16px,2vw,24px);
}
.box{
    background-color: aquamarine;
    border: 1px solid #26987f;
    width: 150px;
    height: 150px;
    text-align: center;
    line-height: 150px;
}
.flex{
    display: flex;
    gap: 10px;
}
/* メディアクエリ */
/* @media = if  */
/* 画面の幅が６００px以下のとき */
/* ブレークポイント　＝　レイアウトの切り替わる画面サイズ */

@media (max-width:600px){
    .flex{
        /* flexアイテムを上から下にならべる */
        flex-direction: column;
    }
    .box{
        background-color: rgb(252, 82, 82);
        border: 1px solid  rgb(255, 0, 0);
    }
}