@charset "UTF-8";

/* 全体設定 */
:root{
    --content_bgc:rgb(90, 90, 90)
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;list-style-type: none;
}

img{
    max-width: 100%;    
}

body{
    font-family: "Noto sans JP", sans-serif;
    line-height: 1.5;
    font-size: 16px;
    color: white;
    background-color: rgba(57, 57, 57, 0.964);    
}

a{
    text-decoration: none;
    color: rgb(0, 208, 255);
}

h2{
    text-decoration: underline;
    text-underline-offset: 8px;
    padding: 8px 0 0 0;
}

.container{
    max-width: 960px;
    width: 92%;
    margin: 0 auto;
    padding: 0 auto;
}

/* ヘッダー */
.siteheader{
    background-color: black;
}

h1{
    text-align: center;
}

header li{
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
}

.content{
    border: 2px solid black;
    background-color: var(--content_bgc);
    margin: 16px auto;
    padding: 0 16px;
}
/* 個別の設定 */
.content h2{
    color: black;
    margin-bottom: 8px;

}

.content h3{
    color: #151515;
    padding: 8px 0 0 0;
}
.low{
    margin: 0 0 16px 0;
}

.game li{
    display: flex;
    gap: 16px;
    margin: 16px 0;      align-items: center;   
}

.game img{
    width: 400px;
    height: auto;
   
}

.game p{
    font-size: 24px;
}


.coments{
    background-color: black;
    padding: 0 16px;
    margin: 0 0 16px 0;
    
}