html,

body{
    background-color: lightcyan;
}
/* .sec1{} */
/* 子孫セレクタ */
.div1 p{
    color: red;
}
/* 子セレクタ */
.div1 > p{
    color: green;
}
/* 隣接兄弟セレクタ */
.div2 h3 + p{
    font-weight: bold;
}

/* 一般兄弟セレクタ */
.div2 h3 ~ p{
    font-size: 20px;
}

/* 擬似クラス  */
/* 要素にマウスカーソルが乗っているとき */
input[type="submit"]:hover{
    background-color: pink;
}
/* クリックされた時 */
input[type="submit"]:active{
    background-color: orange;
}
/* 入力欄やボタンがフォーカス（入力可能のとき） */
input[type="text"]:focus{
    background-color: lightgreen;
}
/* 必須の入力欄だけ */
input:required{
    border: 1px solid red;
}

/* 無効のボタンだけ */
input:disabled{
    font-weight: bold;
    color: red;
}
input[type=checkbox]:checked + label{
    color: blue;
}

ul li:first-child{
    color: red;
}
ul li:last-child{
    color: orange;
}
ul li:nth-child(3){
    color: green;
}
/*偶数番目 even*/
ul li:nth-child(2n){
    font-weight: bold;
}
/* 奇数番目　odd */
ul li:nth-child(2n+1){
    font-size: 20px;
}

/* 擬似要素 */
h2::before{
    content: "-";
}
h2::after{
    content: "--";
}
h1::first-letter{
    font-size: 56px;
}

ol li::marker{
    color:red;
    content: "✅";
}